version: 2
updates:
  - package-ecosystem: "github-actions" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    assignees:
      - "mgrosperrin"
    commit-message:
      prefix: "[GH Actions Update] "
      include: "scope"
    groups:
      gh-actions:
        patterns:
        - "*"
  
  - package-ecosystem: "nuget" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    assignees:
      - "mgrosperrin"
    commit-message:
      prefix: "[.NET packages update] "
      include: "scope"
    groups:
      dotnet:
        patterns:
        - "*"
    ignore:
    - dependency-name: "Microsoft.Extensions.DependencyInjection"
    - dependency-name: "Microsoft.Extensions.DependencyModel"
    - dependency-name: "Microsoft.Extensions.Hosting"
    - dependency-name: "Microsoft.Extensions.Logging"
    - dependency-name: "Microsoft.Extensions.Logging.Abstractions"
    - dependency-name: "Microsoft.Extensions.Logging.Console"
        
  - package-ecosystem: "dotnet-sdk" # See documentation for possible values
    directory: "/" # Location of SDK manifests
    schedule:
      interval: "weekly"
    assignees:
      - "mgrosperrin"
    commit-message:
      prefix: "[.NET SDK update] "
      include: "scope"
    groups:
      dotnet:
        patterns:
        - "*"